<div class="container">
    <h1>Automatic Paper Generator</h1>
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">List of Countries
        <span class="caret"></span></button>
        <div class="dropdown-menu">
          <li>Country 1</li>
          <li>Country 2</li>
          <li>Country 3</li>
        </div>
    </div>
    <p></p>
    <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
          Report Type 1
        </label>
    </div>
    <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
          Report Type 2
        </label>
    </div>
    <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
          Report Type 3
        </label>
    </div>
</div>
<p></p>
<div class="container">
    <div class ="text-left">
        <button type="button" style="margin:5px" class="btn btn-primary btn-lg">Generate</button>
        <button type="button" style="margin:5px" class="btn btn-primary btn-lg">Download</button>
    </div>
</div>
